/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}


.top {
    width:50%;
    margin-left:25%;
    margin-bottom:3%;
  
  
}

.logolinks{
    display:flex;
   justify-content:space-between;
   
}

.logolinks a{
   margin-top:3%;
}


.cityimage {
    margin-left:25%

}

.about-page {
    display:flex;
    justify-content:space-around;
    
}
.about {
    width:50%;
    border-bottom: 1px dashed black;
    margin-bottom:2%;
}
.middle-bigcontainer {
    display:flex;
    flex-wrap:wrap;

    
}
.middle-bigcontainer a{
    border: 2px solid black;
    border-radius:15%;
    text-decoration:none;
    margin-top:3%;
}

.middle-con1 {
    display:flex;
    justify-content:space-between;
    margin-left:23%;
    width:23%;
    border-bottom: 2px dashed black;
    margin-bottom:3%;
    margin-right:3%;
    padding:2%;
}

.middle-con2{
    display:flex;
    justify-content:space-between;
    margin-left:23%;
    width:23%;
    border-bottom: 2px dashed black;
    margin-bottom:3%;
    margin-right:3%;
    padding:2%;
}

.bottom {
    display:flex;
    flex-direction:space-around;
}
.worktogether {
    width:50%;
    margin-left:25%;
}

footer {
    margin-left:25%;
    width: 50%;
    background: black;
    display:flex;
}

footer nav {
    width: 64%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
    
}

footer nav a {
    color: white;
    text-decoration: none;
}